<button type="button" class="btn btn-number" (click)= "decrementDistance()">
  <span>reduce</span>
</button>
<input #textbox type="text" [(ngModel)]="textValue" required>
<button type="button" class="btn btn-number" (click)= "incrementDistance()">
  <span>increase</span>
</button>
<button type="button" class="btn btn-number" (click)= "saveDistance()">
  <span>submit</span>
</button>
<button type="button" class="btn btn-number" (click)= "retrieveDistance()">
  <span>retrieve</span>
</button>
<button type="button" class="btn btn-number" (click)= "resetDistance()">
  <span>reset</span>
</button>
