<button type="button" class="btn btn-number" (click)= "zoomOut()">
  <span>-</span>
</button>
<button type="button" class="btn btn-number" (click)= "zoomIn()">
  <span>+</span>
</button>
<button type="button" class="btn btn-number" (click)= "panLeft()">
  <span>Left</span>
</button>
<button type="button" class="btn btn-number" (click)= "panUp()">
  <span>Up</span>
</button>
<button type="button" class="btn btn-number" (click)= "panDown()">
  <span>Down</span>
</button>
<button type="button" class="btn btn-number" (click)= "panRight()">
  <span>Right</span>
</button>
