<div class="toolbar">

</div>

<div class="content">
  <div class="map-tabs">
    <input type="hidden" #selection>
    <div class="projection-tab tab-small tab" (click)="selection.value = 'mercator'">
      <span>Mercator</span>
    </div>
    <div class="projection-tab tab-small tab" (click)="selection.value = 'albers'">
      <span>Albers</span>
    </div>
    <div class="projection-tab tab-small tab" (click)="selection.value = 'bonne'">
      <span>Bonne</span>
    </div>
    <div class="projection-tab tab-small tab" (click)="selection.value = 'Stereo'">
      <span>Stereo</span>
    </div>
  </div>

  <div class="map-image" [ngSwitch]="selection.value">
    <img *ngSwitchCase="'mercator'" src="assets/images/mercator.png">
<!--    <img *ngSwitchCase="'albers'" src="assets/img/bonne.png">-->
    <img *ngSwitchCase="'bonne'" src="assets/images/bonne.png">
<!--    <img *ngSwitchCase="'Stereo'">-->
  </div>
  <app-distance-display></app-distance-display>
</div>
